<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="ru_RU" property="og:locale" />

        <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="/public/manifest.json" rel="manifest" />

        <meta content="@application-author" name="author">
        <meta content="@application-theme-color" name="theme-color" />
        <meta content="@application-keywords" name="keywords" />

        <base href="/" />

        <title>@application-title</title>
    </head>
    <body>
        <main id="app-root"></main>
    </body>
</html>
